<header class="">
    <nav class="row bg-dark p-2 mx-auto">
        <a href="/" class="btn btn-warning text-white col-7 mx-auto m-1">inicio</a>
        <a href="/peliculas/crear" class="btn btn-warning text-white  col-7 mx-auto m-1">Crear pelicula</a>
        <a href="/peliculas" class="btn btn-warning text-white  col-7 mx-auto m-1">Listar peliculas</a>
    </nav>
</header>