<%- include('partials/head')-%> 
  <body class="container">
    <%- include('partials/header')%> 
    <section class="text-center" >
      <h1 class="p-5">Mostrar peliculas</h1>
    </section>
    <%- include('partials/scripts')%> 
    <%- include('partials/footer')%> 
  </body>
  
</html>
